/* =============== Container =============== */
.container-admin-CSS {
  justify-content: center;
  margin: 75px 0px;
}

.admin-h1-CSS {
  text-align: center;
  color: #27709f;
}

.admin-spinner-CSS {
  color: #27709f;
  margin: 75px 0px;
}

.admin-control-form-CSS {
  text-align: center;
  margin: auto;
}

.admin-select-CSS {
  padding: 0px;
  box-sizing: border-box;
}

.admin-select-CSS:not(:focus) {
  color: GhostWhite;
}

.admin-select-CSS:not(:focus) {
  border: none;
  outline: 3px solid #27709f;
  background-color: SlateGrey;
}

.admin-select-CSS:focus {
  border: none;
  outline: 3px solid #276f9f69;
  background-color:GhostWhite;
}

.admin-control-button-CSS {
  font-size: 26px;
  display: inline-block;
  text-decoration: none;
  width: 50%;
  background-color: Orange;
  margin: 25px auto;
}

.span-admin-error-CSS {
  font-size: 26px;
  display: block;
}

.admin-symbol-CSS {
  color: Red;
}

.alert-admin-CSS {
  font-size: 30px;
}



/* =============== Media Queries =============== */

/* =============== Mobile View =============== */
@media only screen and (250px <= width <= 550px) {
  /* Container */
  .container-admin-CSS {
    margin: 50px 0px 25px;
  }

  .admin-spinner-CSS {
    margin: 50px 0px;
  }

  .span-admin-error-CSS {
    font-size: 22px;
    display: block;
  }

  .admin-control-button-CSS {
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 25px auto 25px;
  }
}



@media only screen and (600px <= width <= 767px) {
  /* Container */
  .container-admin-CSS {
    margin: 60px 0px 30px;
  }

  .admin-spinner-CSS {
    margin: 60px 0px;
  }

  .span-admin-error-CSS {
    font-size: 24px;
    display: block;
  }

  .admin-control-button-CSS {
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 30px auto 30px;
  }
}



/* =============== Tablet View =============== */
@media only screen and (768px <= width <= 1120px) {
  /* Container */
  .container-admin-CSS {
    margin: 75px 0px;
  }

  .span-admin-error-CSS {
    font-size: 26px;
    display: block;
  }

  .admin-control-button-CSS {
    font-size: 26px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 25px auto 0px;
  }
}



@media only screen and (1121px <= width <= 1910px) {
  /* Container */
  .container-admin-CSS {
    margin: 75px 0px;
  }

  .span-admin-error-CSS {
    font-size: 26px;
    display: block;
  }

  .admin-control-button-CSS {
    font-size: 26px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 25px auto 0px;
  }
}
