/* =============== Container =============== */
.container-reset-CSS {
  position: relative;
  justify-content: center;
  width: auto;
  margin: 75px 0px;
}

.reset-card-CSS {
  text-align: center;
  box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
  width: 50%;
  margin: 0% 25%;
}

.h1-reset-CSS {
  text-align: center;
  color: #27709f;
  margin: 50px 25px 20px;
}

.reset-label-CSS {
  font-size: 27px;
  color:#27709f;
  display: inline-block;
  text-align: right;
  margin: 20px 25px 20px;
}

.reset-text-CSS:not(:focus)::placeholder {
  color: GhostWhite;
}

.reset-text-CSS:not(:focus):placeholder-shown {
  border: none;
  outline: 3px solid #27709f;
  background-color: SlateGrey;
}

.reset-text-CSS:focus:placeholder-shown {
  border: none;
  outline: 3px solid #276f9f69;
  background-color:GhostWhite;
}

.reset-text-CSS:valid {
  border: none;
  outline: 3px solid Green;
  background-color: HoneyDew;
}

.reset-text-CSS:invalid {
  border: none;
  outline: 3px solid Red;
  background-color: MistyRose;
}

.reset-error-message-CSS {
  font-size: 24px;
  color: Red;
  margin: auto;
}

.alert-reset-CSS {
  font-size: 30px;
}

.require-reset-password-CSS {
  font-size: larger;
  width: 34%;
  color: SteelBlue;
}

.reset-button-CSS {
  font-size: 27px;
  display: inline-block;
  text-decoration: none;
  width: 50%;
  background-color: Orange;
  margin: 20px auto;
}



/* =============== Media Queries =============== */

/* =============== Mobile View =============== */
@media only screen and (250px <= width <= 425px) {
  /* Container */
  .container-reset-CSS {
    position: relative;
    justify-content: center;
    width: auto;
    margin: 50px 0px;
  }

  .reset-card-CSS {
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
    width: 100%;
    margin: 0%
  }

  .h1-reset-CSS {
    text-align: center;
    color: #27709f;
    margin: 50px 25px 20px;
  }

  .reset-label-CSS {
    font-size: 25px;
    color:#27709f;
    display: inline-block;
    text-align: right;
    margin: 20px 25px 20px;
  }

  .reset-error-message-CSS {
    font-size: 22px;
    color: Red;
    margin: auto;
  }

  .require-reset-password-CSS {
    font-size: large;
    width: 100%;
    color: SteelBlue;
  }

  .reset-button-CSS {
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 20px auto;
  }
}



@media only screen and (426px <= width <= 499px) {
  /* Container */
  .container-reset-CSS {
    position: relative;
    justify-content: center;
    width: auto;
    margin: 50px 0px;
  }

  .reset-card-CSS {
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
    width: 80%;
    margin: 0% 10%;
  }

  .h1-reset-CSS {
    text-align: center;
    color: #27709f;
    margin: 50px 25px 20px;
  }

  .reset-label-CSS {
    font-size: 25px;
    color:#27709f;
    display: inline-block;
    text-align: right;
    margin: 20px 25px 20px;
  }

  .reset-error-message-CSS {
    font-size: 22px;
    color: Red;
    margin: auto;
  }

  .require-reset-password-CSS {
    font-size: large;
    width: 100%;
    color: SteelBlue;
  }

  .reset-button-CSS {
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 20px auto;
  }
}



@media only screen and (500px <= width <= 550px) {
  /* Container */
  .container-reset-CSS {
    position: relative;
    justify-content: center;
    width: auto;
    margin: 50px 0px;
  }

  .reset-card-CSS {
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
    width: 80%;
    margin: 0% 10%;
  }

  .h1-reset-CSS {
    text-align: center;
    color: #27709f;
    margin: 50px 25px 20px;
  }

  .reset-label-CSS {
    font-size: 27px;
    color:#27709f;
    display: inline-block;
    text-align: right;
    margin: 20px 25px 20px;
  }

  .reset-error-message-CSS {
    font-size: 24px;
    color: Red;
    margin: auto;
  }

  .require-reset-password-CSS {
    font-size: large;
    width: 100%;
    color: SteelBlue;
  }

  .reset-button-CSS {
    font-size: 27px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 20px auto;
  }
}



@media only screen and (600px <= width <= 650px) {
  /* Container */
  .container-reset-CSS {
    position: relative;
    justify-content: center;
    width: auto;
    margin: 50px 0px;
  }

  .reset-card-CSS {
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
    width: 80%;
    margin: 0% 10%;
  }

  .h1-reset-CSS {
    text-align: center;
    color: #27709f;
    margin: 50px 25px 20px;
  }

  .reset-label-CSS {
    font-size: 27px;
    color:#27709f;
    display: inline-block;
    text-align: right;
    margin: 20px 25px 20px;
  }

  .reset-error-message-CSS {
    font-size: 24px;
    color: Red;
    margin: auto;
  }

  .require-reset-password-CSS {
    font-size: large;
    width: 100%;
    color: SteelBlue;
  }

  .reset-button-CSS {
    font-size: 27px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 20px auto;
  }
}



@media only screen and (710px <= width <= 767px) {
  /* Container */
  .container-reset-CSS {
    position: relative;
    justify-content: center;
    width: auto;
    margin: 50px 0px;
  }

  .reset-card-CSS {
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
    width: 80%;
    margin: 0% 10%;
  }

  .h1-reset-CSS {
    text-align: center;
    color: #27709f;
    margin: 50px 25px 20px;
  }

  .reset-label-CSS {
    font-size: 27px;
    color:#27709f;
    display: inline-block;
    text-align: right;
    margin: 20px 25px 20px;
  }

  .reset-error-message-CSS {
    font-size: 24px;
    color: Red;
    margin: auto;
  }

  .require-reset-password-CSS {
    font-size: large;
    width: 100%;
    color: SteelBlue;
  }

  .reset-button-CSS {
    font-size: 27px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 20px auto;
  }
}



/* =============== Tablet View =============== */
@media only screen and (768px <= width <= 1120px) {
  /* Container */
  .container-reset-CSS {
    position: relative;
    justify-content: center;
    width: auto;
    margin: 75px 0px;
  }

  .reset-card-CSS {
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
    width: 70%;
    margin: 0% 15%;
  }

  .h1-reset-CSS {
    text-align: center;
    color: #27709f;
    margin: 50px 25px 20px;
  }

  .login-reset-CSS {
    font-size: 27px;
    color:#27709f;
    display: inline-block;
    text-align: right;
    margin: 20px 25px 20px;
  }

  .reset-error-message-CSS {
    font-size: 24px;
    color: Red;
    margin: auto;
  }

  .require-reset-password-CSS {
    font-size: large;
    width: 100%;
    color: SteelBlue;
  }

  .reset-button-CSS {
    font-size: 27px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 20px auto;
  }
}



@media only screen and (1121px <= width <= 1910px) {
 /* Container */
  .container-reset-CSS {
    position: relative;
    justify-content: center;
    width: auto;
    margin: 75px 0px;
  }

  .reset-card-CSS {
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(39, 112, 159, 1);
    width: 70%;
    margin: 0% 15%;
  }

  .h1-reset-CSS {
    text-align: center;
    color: #27709f;
    margin: 50px 25px 20px;
  }

  .reset-label-CSS {
    font-size: 27px;
    color:#27709f;
    display: inline-block;
    text-align: right;
    margin: 20px 25px 20px;
  }

  .reset-error-message-CSS {
    font-size: 24px;
    color: Red;
    margin: auto;
  }

  .require-reset-password-CSS {
    font-size: larger;
    width: 35%;
    color: SteelBlue;
  }

  .reset-button-CSS {
    font-size: 27px;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: Orange;
    margin: 20px auto;
  }
}
